services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DATABASE_DIRECT_URL=postgresql://${DOCKER_POSTGRES_USER}:${DOCKER_POSTGRES_PASSWORD}@db:5432/${DOCKER_POSTGRES_DB}?sslmode=disable
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "go run cmd/server/main.go"

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DOCKER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DOCKER_POSTGRES_PASSWORD}
      POSTGRES_DB: ${DOCKER_POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DOCKER_POSTGRES_USER} -d ${DOCKER_POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  migrate:
    build: .
    environment:
      - DATABASE_DIRECT_URL=postgresql://${DOCKER_POSTGRES_USER}:${DOCKER_POSTGRES_PASSWORD}@db:5432/${DOCKER_POSTGRES_DB}?sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "go run cmd/migrate/main.go"

volumes:
  postgres_data: